* {
  box-sizing: border-box;
}

body{
  font-size: 16px;
  margin: 0px;
  background-color: #666666;
}

main {
  background-color: #FFFFFF;
  border: 1px solid black;
  overflow: hidden;
}

aside {
  width: 20%;
  float:left;
}

article{
  width: 80%;
  float:right
}

header{
  width: 100%;
  border: 3px solid #CCCCCC;
  background-color: rgb(519 220 159);
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
}



h1.color-blue{
  font-weight: 300;
}
.color-blue{
  color: blue;
  font-weight: bold;
}
header .menu > h1 {
  font-size: 1.2em;
}
.inside {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
header h1 {
  /* margin: 0px; */
  /* margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 5px; */
  margin: 0px 0px 10px 5px;
  /* float: left; */
}

.menu{
  margin-top: 15px;
  /* float: right; */
}

@media (min-width: 500px){
  .menu{
    float: right;
  }

  header h1{
    float: left;
  }
}

.box{
  border: 1px solid black;
}


footer{
  margin: 50px 20px;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 0.8em;
  color: #fff;
  text-align: center;
}


@media (max-width: 1000px){
  header {
    background-color: green;
    /* display: none; */
  }
}


@media (max-width: 499px) {
  .visible-desktop{
    display: none;
  }
  .visible-mobile {
    display: block;
  }
}

@media (min-width: 500px) {
  .visible-desktop{
    display: block;
  }
  .visible-mobile{
    display: none;
  }
}